<div class="container mt-5">
  <h2>Detalhes do Pedido</h2>
  <p>Valor a pagar: R$<%= @order.total_price %></p>
  <p>Forma de pagamento: <%= @order.payment_method %></p>
  <p>Número do pedido: <%= @order.number %></p>
</div>
